.sidebar-item--accordion .menu-item-accordion__header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  min-height: 45px;
  color: var(--not-quite-white);
}

.sidebar--closed .menu-item-accordion__header .menu-item-accordion__label {
  animation:
    fadeOut--accordion 300ms ease-out forwards,
    shrink__accordion 300ms ease-out forwards;
}

.sidebar--closed .menu-item-accordion__header a {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 45px;
  min-height: 45px;
}

.sidebar--closed .menu-item-accordion__trigger {
  animation: fadeOut--accordion 300ms ease-out forwards;
}

.menu-item-accordion {
  min-height: 45px;
  width: 100%;
}

.menu-item-accordion__header {
  display: grid;
  grid-template-columns: 1fr auto 45px;
  grid-template-rows: 45px;
  min-height: 45px;
  width: 100%;
}

.menu-item-accordion__separator {
  margin-left: auto;
  margin-right: 5px;
  width: 1px;
  height: 28px;
  opacity: 0.15;
  background-color: var(--not-quite-white);
}

.menu-item-accordion__trigger {
  cursor: pointer;
  border-radius: 10px;
  background-color: transparent;
  border: none;
  min-width: 44px;
  min-height: 44px;
}

.menu-item-accordion__trigger[data-state="closed"]
  .menu-item-accordion__chevron {
  transform: rotate(180deg);
}
.menu-item-accordion__trigger[data-state="open"] .menu-item-accordion__chevron {
  transform: rotate(0deg);
}

.menu-item-accordion__trigger:hover {
  background-color: var(--nearly-transparent-white);
}

.menu-item-accordion__content {
  overflow: hidden;
}

.menu-item-accordion__content a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
}

.menu-item-accordion__content[data-state="open"] {
  animation: slideDown 300ms ease-out;
}

.menu-item-accordion__content[data-state="closed"] {
  animation: slideUp 300ms ease-out;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

@keyframes fadeOut--accordion {
  0% {
    opacity: 1;
    display: block;
    visibility: visible;
  }
  99% {
    display: block;
    visibility: visible;
  }
  100% {
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}

@keyframes shrink--accordion {
  0% {
    width: 200px;
  }
  100% {
    width: 0;
  }
}
