:root {
  --primary-color: #111111;
  --gradient: linear-gradient(90deg, #ff0033 0%, #f50057 100%);
  --red: #ff0033;
  --grey: #393939;
  --background-selected: rgba(255, 170, 187, 0.14);
  --white: #ffffff;
  --not-quite-black: #1f1f1f;
  --not-quite-white: #f1f1f1;
  --nearly-transparent-white: rgba(255, 255, 255, 0.06);
  --black: #000000;
  --dark-grey: #2a2a2a;
  --font: "Roboto", sans-serif;
  --nearly-trasparent-sky: rgba(196, 228, 255, 0.08);
  --light-violet: #b082ff5e;
  --light-blue: #82bfff5e;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

#root {
  display: grid;
  overflow: hidden;
  grid-template-rows: auto 1fr;
}

html {
  box-sizing: border-box;
  background-color: var(--primary-color);
  color: var(--white);
  font-family: var(--font);
  padding: 0;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

@keyframes skeleton {
  0% {
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.14) 0%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0.14) 100%
    );
    background-size: 200% 100%;
    background-position: 0% 0;
  }
  50% {
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.14) 0%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0.14) 100%
    );
    background-size: 200% 100%;
    background-position: 100% 0;
  }
  100% {
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.14) 0%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0.14) 100%
    );
    background-size: 200% 100%;
    background-position: 0% 0;
  }
}
